.main{
    background-image: url(../Assets/Hero-bg.png);
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
.top-left{
    font-weight: 900;
    font-size: 34px;
    color: #4e47ff;
    font-family: 'Inter', sans-serif;
}
.top-right{
    font-size: 16px;
    font-weight: 700;
    color: white;
    background-color: #4e47ff;
    border-style: none;
    border-radius: 10px;
    padding: 12px 36px;
}
.main-top{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px 158px 150px;
}
.section_1{
    text-align: center;
}
#heading{
    font-size: 65px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.section-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 116px 0;
    font-family: 'Raleway', sans-serif;
    gap: 220px; 
}
.sec-2-heading{
    font-size: 42px;
    font-weight: 700;
}
.sec-2-paragraph{
    color: #252432;
    opacity: 50%;
    font-size: 24px;
}
.sec-2-right img {
    border-radius: 48px;
}
.section-3{
    border-radius: 24px;
    margin: 116px 150px 0 150px;
    background-color:#e3e1ff;
}
.section-3-title{
    color: black;
    font-size: 38px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding: 50px 140px;
    text-align: center;
}
.sec-3-details{
    display: flex;
    justify-content: center;
    padding: 0 142px 50px 142px;
    gap: 120px;
}
.sec-3-number{
    font-size: 80px;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    color: #4e47ff;
}
.sec-3-paragraph{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    opacity: 50%;
}
.section-5{
    background-color: white;
    border-radius: 14px;
    text-align: center;
    margin: 137px 140px 93px 140px;

}
#section-5-title{
    font-size: 50px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
}
#sec-5-paragraph{
    font-size: 18px;
    color: black;
    opacity: 50%;
}
.section-5 button{
    margin-bottom: 20px;
}
.sec-5-image{
    border-radius: 48px;
    margin-bottom: 71px;
}
.last-section{
    text-align: center;
    background-color: white;
    width: 100%;
}
#title{
    font-size: 100px;
    color:#4e47ff;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
}
#paragraph{
    color: #8987a1;

}
.foot{
    display: flex;
    gap: 47px;
    justify-content: center;
    background-color: white;
}
.last-section a{
    text-decoration: none;
    color: #8987a1;
}
body{
    background-color: #f4f2ff;
    margin: 0;
    padding: 0;
}